standalone/data/wsdl/contactosjpa.war/PersonaServiceSOAPService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.appdis.ups.edu.ec/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PersonaServiceSOAPService" targetNamespace="http://services.appdis.ups.edu.ec/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.appdis.ups.edu.ec/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.appdis.ups.edu.ec/">
  <xs:element name="deposito" type="tns:deposito"/>
  <xs:element name="depositoResponse" type="tns:depositoResponse"/>
  <xs:element name="listaPersonas" type="tns:listaPersonas"/>
  <xs:element name="listaPersonasResponse" type="tns:listaPersonasResponse"/>
  <xs:element name="saludar" type="tns:saludar"/>
  <xs:element name="saludarResponse" type="tns:saludarResponse"/>
  <xs:complexType name="saludar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="saludarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deposito">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="depositoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listaPersonas">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="listaPersonasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:persona"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="cedula" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaTelefonos" nillable="true" type="tns:telefono"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="telefono">
    <xs:sequence>
      <xs:element name="codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="numero" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarshalException" type="tns:MarshalException"/>
  <xs:complexType name="MarshalException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="saludarResponse">
    <wsdl:part element="tns:saludarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deposito">
    <wsdl:part element="tns:deposito" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saludar">
    <wsdl:part element="tns:saludar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listaPersonasResponse">
    <wsdl:part element="tns:listaPersonasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="depositoResponse">
    <wsdl:part element="tns:depositoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MarshalException">
    <wsdl:part element="tns:MarshalException" name="MarshalException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listaPersonas">
    <wsdl:part element="tns:listaPersonas" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonaServiceSOAP">
    <wsdl:operation name="saludar">
      <wsdl:input message="tns:saludar" name="saludar">
    </wsdl:input>
      <wsdl:output message="tns:saludarResponse" name="saludarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deposito">
      <wsdl:input message="tns:deposito" name="deposito">
    </wsdl:input>
      <wsdl:output message="tns:depositoResponse" name="depositoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaPersonas">
      <wsdl:input message="tns:listaPersonas" name="listaPersonas">
    </wsdl:input>
      <wsdl:output message="tns:listaPersonasResponse" name="listaPersonasResponse">
    </wsdl:output>
      <wsdl:fault message="tns:MarshalException" name="MarshalException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonaServiceSOAPServiceSoapBinding" type="tns:PersonaServiceSOAP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="saludar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="saludar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saludarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deposito">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deposito">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="depositoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaPersonas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listaPersonas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listaPersonasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MarshalException">
        <soap:fault name="MarshalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaServiceSOAPService">
    <wsdl:port binding="tns:PersonaServiceSOAPServiceSoapBinding" name="PersonaServiceSOAPPort">
      <soap:address location="http://localhost:8080/contactosjpa/PersonaServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>